.hero{
    background-color: rgb(21, 21, 32);
}
.MainName{
    font-size: 50px;
    color:white;
    text-align: center;
    font-family: 'Skranji', cursive;
    width: 100%;
    position: relative;
}
.MainName a{
    text-decoration: none;
}
.JokerImg,.LexImg,.CirceImg,.TheBatmanWhoLaughsImg,.SupermanImg,.OwlmanImg{ 
    border-radius: 10px;
    margin-left: 48px;
    width: 220px;
    height: 280px;
}
.JokerP{
    top: 0;
    font-size: 24px;
    text-align: center;
    width: 420px;
    color: rgb(255, 254, 254);
    margin-left: 310px;
    position: absolute;
    margin-top: 50px;
    font-family: 'Caveat';
}
.fight1{
    background-color:rgba(27, 27, 27, 0.13);
    width: 800px;
    height: 420px;
    position: relative;
    padding: 5px;
    margin-top: 70px;
    box-shadow: -10px 10px 90px black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
}
.F1Name,.F2Name,.F3Name,.F4Name,.F5Name,.F6Name{
    font-family: 'Black Ops One';
    color:rgb(250, 19, 19);
    text-align: center;
    font-size: 30px;
} 


.fight2{
    background-color:rgba(27, 27, 27, 0.13);
    width: 800px;
    height: 420px;
    position: relative;
    padding: 5px;
    margin-top: 70px;
    box-shadow: -10px 10px 90px black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
}
.LexP{
    top: 0;
    font-size: 24px;
    text-align: center;
    width: 420px;
    color: rgb(255, 254, 254);
    margin-left: 310px;
    position: absolute;
    margin-top: 50px;
    font-family: 'Caveat', cursive;
}
.fight3{
    background-color:rgba(27, 27, 27, 0.13);
    width: 800px;
    height: 400px;
    position: relative;
    padding: 5px;
    margin-top: 70px;
    box-shadow: -10px 10px 90px black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
}
.SupermanP{
    top: 0;
    font-size: 24px;
    text-align: center;
    width: 420px;
    color: rgb(255, 254, 254);
    margin-left: 310px;
    position: absolute;
    margin-top: 50px;
    font-family: 'Caveat', cursive;
}
.fight4{
    background-color:rgba(27, 27, 27, 0.13);
    width: 800px;
    height: 400px;
    position: relative;
    padding: 5px;
    margin-top: 70px;
    box-shadow: -10px 10px 90px black;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
}
.TheBatmanWhoLaughsP{
    top: 0;
    font-size: 24px;
    text-align: center;
    width: 420px;
    color: rgb(255, 254, 254);
    margin-left: 310px;
    position: absolute;
    margin-top: 50px;
    font-family: 'Caveat', cursive;
}
.fight5{
    background-color:rgba(27, 27, 27, 0.13);
    width: 800px;
    height: 420px;
    position: relative;
    padding: 5px;
    margin-top: 70px;
    box-shadow: -10px 10px 90px black;
    border-radius: 10px;
    margin: 0 auto;
}
.CirceP{
    top: 0;
    font-size: 24px;
    text-align: center;
    width: 420px;
    color: rgb(255, 254, 254);
    margin-left: 310px;
    position: absolute;
    margin-top: 50px;
    font-family: 'Caveat';
}
.fight6{
    background-color:rgba(27, 27, 27, 0.13);
    width: 800px;
    height: 420px;
    position: relative;
    padding: 5px;
    margin-top: 70px;
    box-shadow: -10px 10px 90px black;
    border-radius: 10px;
    margin:0 auto;
}
.OwlmanP{
    top: 0;
    font-size: 24px;
    text-align: center;
    width: 420px;
    color: rgb(255, 254, 254);
    margin-left: 310px;
    position: absolute;
    margin-top: 50px;
    font-family: 'Caveat';
}
@media (max-width:1077px){
    .JokerImg {
        width: 120px;
        height: 180px;
        display: block;
        margin:0 auto;
    }
    .JokerP{
        font-size: 14px;
        width: 220px;
        margin-left: 100px;
        margin-top: 250px;
    }
    .fight1{
        width: 430px;
        height: 500px;
        padding: 5px;
        margin: 70px auto;
    }
}
@media (max-width:1077px){
    .LexImg {
        width: 120px;
        height: 180px;
        display: block;
        margin: 0 auto;
    }
    .LexP{
        font-size: 14px;
        width: 220px;
        margin-left: 100px;
        margin-top: 250px;
    }
    .fight2{
        width: 430px;
        height: 500px;
        padding: 5px;
        margin: 70px auto;
    }
}
@media (max-width:1077px){
    .SupermanImg {
        width: 120px;
        height: 180px;
        display: block;
        margin: 0 auto;
    }
    .SupermanP{
        font-size: 14px;
        text-align: center;
        width: 220px;
        margin-left: 100px;
        margin-top: 250px;
    }
    .fight3{
        width: 430px;
        height: 500px;
        padding: 5px;
        margin: 70px auto;
    }
}
@media (max-width:1077px){
    .TheBatmanWhoLaughsImg {
        width: 120px;
        height: 180px;
        display: block;
        margin: 0 auto; 
    }
    .TheBatmanWhoLaughsP{
        font-size: 14px;
        width: 220px;
        margin-left: 100px;
        margin-top: 250px;
    }
    .fight4{
        width: 430px;
        height: 500px;
        padding: 5px;
        margin: 70px auto;
    }
}
@media (max-width:1077px){
    .CirceImg {
        width: 120px;
        height: 180px;
        display: block;
        margin: 0 auto;
    }
    .CirceP{
        font-size: 14px;
        width: 220px;
        margin-left: 100px;
        margin-top: 250px;
    }
    .fight5{
        width: 430px;
        height: 500px;
        padding: 5px;
        margin: 70px auto;
    }
}
@media (max-width:1077px){
    .OwlmanImg {
        width: 120px;
        height: 180px;
        display: block;
        margin: 0 auto;
    }
    .OwlmanP{
        font-size: 14px;
        width: 220px;
        margin-left: 100px;
        margin-top: 250px;
    }
    .fight6{
        width: 430px;
        height: 500px;
        padding: 5px;
        margin: 70px auto;
    }
}
@media (max-width:425px){
    .CirceImg , .OwlmanImg, .TheBatmanWhoLaughsImg, .SupermanImg,.LexImg,.JokerImg{
        width: 120px;
        height: 180px;
        display: block;
        margin: 0 auto;
    }
    .CirceP, .OwlmanP, .TheBatmanWhoLaughsP, .SupermanP,.LexP,.JokerP{
        font-size: 14px;
        width: 220px;
        margin-left: 50px;
        margin-top: 250px;
    }
    .fight5,.fight6, .fight4, .fight3,.fight2.fight1{
        width: 330px;
        height: 500px;
        padding: 5px;
        margin: 70px auto;
    }
}