<section class="hero is-primary">
    <div class="hero-body">
        <div class="container" >
            <p class="title">Life</p>
            <div class="container hovring">
                <ul>
                    <li>
                        <h2 class="N1">Origin Story</h2>
                        <img class="I1" src="../../assets/img/BatBackLogo.png" >
                        <p>Batman's origin story is well-known. As a child,
                            Bruce Wayne witnessed the murder of his parents,
                            Thomas and Martha Wayne, in a mugging gone wrong.
                            This traumatic event drove him to dedicate his life to fighting crime.</p>
                    </li>
                    <li>
                        <h2 class="N2">Training</h2>
                        <img class="I2" src="../../assets/img/BatBackLogo.png" >
                        <p>To prepare himself for his mission, Bruce Wayne traveled the world and trained in various 
                            martial arts disciplines, detective work, and science. 
                            He honed his physical and mental abilities to become a formidable crimefighter.</p>
                    </li>
                    <li>
                        <h2 class="N3">The Batcave</h2>
                        <img class="I3" src="../../assets/img/BatBackLogo.png" >
                        <p>Batman's secret lair is the Batcave, located beneath Wayne Manor. It houses his crime-fighting equipment, including the Batmobile, Bat-suit, and an array of high-tech gadgets.</p>
                    </li>
                    <li>
                        <h2 class="N4">Gotham City</h2>
                        <img class="I4" src="../../assets/img/BatBackLogo.png" >
                        <p>Batman operates primarily in Gotham City, a fictional metropolis plagued by crime and corruption. He takes on the persona of the "Dark Knight" to strike fear into the hearts of criminals.</p>
                    </li>
                    <li>
                        <h2 class="N5">Allies</h2>
                        <img class="I5" src="../../assets/img/BatBackLogo.png" >
                        <p>Batman has a network of allies, including Alfred Pennyworth, his loyal butler and confidant; Commissioner James Gordon, a dedicated police officer who works closely with Batman; and various members of the Bat-Family, including Robin, Nightwing, Batgirl, and others.</p>
                    </li>
                    <li>
                        <h2 class="N6">Rogues'Gallery</h2>
                        <img class="I6" src="../../assets/img/BatBackLogo.png" >
                        <p>Batman's adversaries are some of the most iconic villains in comic book history, including the Joker, Two-Face, the Riddler, Poison Ivy, Catwoman, and many others.</p>
                    </li>
                    <li>
                        <h2 class="N7">No Superpowers</h2>
                        <img class="I7" src="../../assets/img/BatBackLogo.png" >
                        <p>Unlike many other superheroes, Batman has no superhuman abilities. Instead, he relies on his intellect, physical prowess, and technology to fight crime.</p>
                    </li>
                    <li>
                        <h2 class="N8">Justice League</h2>
                        <img class="I8" src="../../assets/img/BatBackLogo.png" >
                        <p>Batman is a founding member of the Justice League, a team of superheroes that includes Superman, Wonder Woman, The Flash, and others. His strategic mind and detective skills are valuable assets to the team.</p>
                    </li>
                    <li>
                        <h2 class="N9">Legacy</h2>
                        <img class="I9" src="../../assets/img/BatBackLogo.png" >
                        <p>Batman's legacy extends beyond Bruce Wayne. Other individuals have taken up the mantle of Batman when needed, ensuring that Gotham City is protected even in his absence.</p>
                    </li>
                    <li>
                        <h2 class="N10">Movies And Adaptations</h2>
                        <img class="I10" src="../../assets/img/BatBackLogo.png" >
                        <p>Batman has been portrayed by various actors in film and television, with notable portrayals by Michael Keaton, Christian Bale, Ben Affleck, and Robert Pattinson, among others.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Life">   
        </div>
    </div>
</section>


