.hero{
    background-color: rgb(21, 21, 32);
}
.container .title{
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Skranji';
}
ul{
    margin-left: 20px; 
    text-align: center;
    margin-top: 100px;
}
.hovring ul p{
    top: 0;
    position: absolute;
    width: 400px;
    text-align: center;
    margin-left:455px;
    margin-top: 140px;
    transition: 0.6s;
    display: none; 
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
.hovring ul .I1{
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    position: absolute;
    top: 0;
    transform: rotate(0deg);
    display: none;
    animation: anime 3.5s linear infinite;    
}
.hovring ul .I2{
    position: absolute;
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    top: 0;
    transform: rotate(0deg);
    display: none;
    animation: anime 3.5s linear infinite;    
}
.hovring ul .I3{
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    position: absolute;
    top: 0;
    transform: rotate(0deg);
    display: none;
    animation: anime 3.5s linear infinite;    
}
.hovring ul .I4{
    position: absolute;
    margin-left: 400px;
    top: 0;
    transform: rotate(0deg);
    display: none;
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    animation: anime 3.5s linear infinite;    
}
.hovring ul .I5{
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    position: absolute;
    margin-left: 400px;
    top: 0;
    transform: rotate(0deg);
    display: none;
    animation: anime 3.5s linear infinite;    
}
.hovring ul .I6{
    position: absolute;
    margin-left: 400px;
    top: 0;
    transform: rotate(0deg);
    display: none;
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    animation: anime 3.5s linear infinite;    
}
.hovring ul .I7{
    position: absolute;
    margin-left: 400px;
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    top: 0;
    transform: rotate(0deg);
    display: none;
    animation: anime 3.5s linear infinite;    
}
.hovring ul .I8{
    top: 0;
    position: absolute;
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    margin-left: 400px;
    transform: rotate(0deg);
    display: none;
    animation: anime 3.5s linear infinite;    
}
.hovring ul .I9{
    position: absolute;
    margin-left: 400px;
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    top: 0;
    transform: rotate(0deg);
    display: none;
    animation: anime 3.5s linear infinite;    
}
.hovring ul .I10{
    position: absolute;
    margin-left: 400px;
    top: 0;
    transform: rotate(0deg);
    display: none;
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    animation: anime 3.5s linear infinite;    
}
@keyframes anime{
    0%{
        transform: rotate(0deg) scale(1.0);
    }
    80%{
        transform: rotate(-0deg) scale(0.9);
    }
    100%{
        transform: rotate(0deg) scale(0.10);
    }
}
ul h2{
    font-family: 'Creepster', cursive;
    font-size: 27px;
    margin-top: 12px;
    width: 300px;
}
ul h2:hover{
    color: red;
}
.hovring ul li:hover img{
    display: block;
    transition: 0.6s;
}
.hovring ul li:hover p{
    transition: 0.6s;
    display: block;
}
@media (max-width:1024px){
    .hovring ul p{
        top: 0;
        left: 0;
        position: absolute;
        width: 350px;
        margin-top: 115px;
        transition: 0.6s;
        display: none; 
        font-family: 'Caveat', cursive;
        font-size: 17px;
        margin-left: 400px;
    }
    ul h2{
        font-family: 'Creepster', cursive;
        font-size: 20px;
        padding-bottom: 5px;
        width: 350px;
        left: 0;
    }
    ul{
        text-align: left;
        margin-top: 50px;
    }
    .hovring ul li:hover img{
        display: block;
        transition: 0.6s;
    }
    .hovring ul li:hover p{
        transition: 0.6s;
        display: block;
    }
    .hovring ul .I1{
        width: 500px;
        position: absolute;
        margin-left: 250px;
        top: 0;
        margin-top: 40px;
        transform: rotate(0deg);
        display: none;
        animation: anime 3.5s linear infinite;    
    }
    .hovring ul .I2{
        margin-top: 40px;
        width: 500px;
        position: absolute;
        margin-left: 250px;
        top: 0;
        transform: rotate(0deg);
        display: none;
        animation: anime 3.5s linear infinite;    
    }
    .hovring ul .I3{
        margin-top: 40px;
        width: 500px;
        position: absolute;
        margin-left: 250px;
        top: 0;
        transform: rotate(0deg);
        display: none;
        animation: anime 3.5s linear infinite;    
    }
    .hovring ul .I4{
        width: 500px;
        margin-top: 40px;
        position: absolute;
        margin-left: 250px;
        top: 0;
        transform: rotate(0deg);
        display: none;
        animation: anime 3.5s linear infinite;    
    }
    .hovring ul .I5{
        margin-top: 40px;
        width: 500px;
        position: absolute;
        margin-left: 250px;
        top: 0;
        transform: rotate(0deg);
        display: none;
        animation: anime 3.5s linear infinite;    
    }
    .hovring ul .I6{
        margin-top: 40px;
        width: 500px;
        position: absolute;
        margin-left: 250px;
        top: 0;
        transform: rotate(0deg);
        display: none;
        animation: anime 3.5s linear infinite;    
    }
    .hovring ul .I7{
        margin-top: 40px;
        width: 500px;
        position: absolute;
        margin-left: 250px;
        top: 0;
        transform: rotate(0deg);
        display: none;
        animation: anime 3.5s linear infinite;    
    }
    .hovring ul .I8{
        margin-top: 40px;
        width: 500px;
        top: 0;
        position: absolute;
        margin-left: 250px;
        transform: rotate(0deg);
        display: none;
        animation: anime 3.5s linear infinite;    
    }
    .hovring ul .I9{
        margin-top: 40px;
        width: 500px;
        position: absolute;
        margin-left: 250px;
        top: 0;
        transform: rotate(0deg);
        display: none;
        animation: anime 3.5s linear infinite;    
    }
    .hovring ul .I10{
        margin-top: 40px;
        width: 500px;
        position: absolute;
        margin-left: 250px;
        top: 0;
        transform: rotate(0deg);
        display: none;
        animation: anime 3.5s linear infinite;    
    }           
}
@media (max-width:768px){
    .hovring ul p{
        top: 0;
        left: 0;
        position: relative;
        width: 250px;
        margin-top: 23px;
        transition: 0.6s;
        display: none; 
        margin-left: 80px;
        font-family: 'Caveat', cursive;
        font-size: 13px;
        background-color:rgba(0, 0, 0, 0.13);
        border-radius: 20px;
        box-shadow: -10px 10px 90px black;
    }
    ul h2{
        font-family: 'Creepster', cursive;
        font-size: 17px;
        padding-bottom: 5px;
        width: 350px;
        left: 0;
    }
    ul{
        text-align: left;
        margin-top: 50px;
    }
    .hovring ul li:hover img{
        display: none;
        transition: 0.6s;
    }
    .hovring ul li:hover p{
        transition: 0.6s;
        display: block;
    }
        .hovring ul .I1{
            width: 480px;
            position: absolute;
            margin-left: 150px;
            top: 0;
            margin-top: 40px;
            transform: rotate(0deg);
            display: none;
            animation: anime 3.5s linear infinite;    
        }
        .hovring ul .I2{
            margin-top: 40px;
            width: 480px;
            position: absolute;
            margin-left: 150px;
            top: 0;
            transform: rotate(0deg);
            display: none;
            animation: anime 3.5s linear infinite;    
        }
        .hovring ul .I3{
            margin-top: 40px;
            width: 480px;
            position: absolute;
            margin-left: 150px;
            top: 0;
            transform: rotate(0deg);
            display: none;
            animation: anime 3.5s linear infinite;    
        }
        .hovring ul .I4{
            width: 480px;
            margin-top: 40px;
            position: absolute;
            margin-left: 150px;
            top: 0;
            transform: rotate(0deg);
            display: none;
            animation: anime 3.5s linear infinite;    
        }
        .hovring ul .I5{
            margin-top: 40px;
            width: 480px;
            position: absolute;
            margin-left: 150px;
            top: 0;
            transform: rotate(0deg);
            display: none;
            animation: anime 3.5s linear infinite;    
        }
        .hovring ul .I6{
            margin-top: 40px;
            width: 480px;
            position: absolute;
            margin-left: 150px;
            top: 0;
            transform: rotate(0deg);
            display: none;
            animation: anime 3.5s linear infinite;    
        }
        .hovring ul .I7{
            margin-top: 40px;
            width: 480px;
            position: absolute;
            margin-left: 150px;
            top: 0;
            transform: rotate(0deg);
            display: none;
            animation: anime 3.5s linear infinite;    
        }
        .hovring ul .I8{
            margin-top: 40px;
            width: 480px;
            top: 0;
            position: absolute;
            margin-left: 150px;
            transform: rotate(0deg);
            display: none;
            animation: anime 3.5s linear infinite;    
        }
        .hovring ul .I9{
            margin-top: 40px;
            width: 480px;
            position: absolute;
            margin-left: 150px;
            top: 0;
            transform: rotate(0deg);
            display: none;
            animation: anime 3.5s linear infinite;    
        }
        .hovring ul .I10{
            margin-top: 40px;
            width: 480px;
            position: absolute;
            margin-left: 150px;
            top: 0;
            transform: rotate(0deg);
            display: none;
            animation: anime 3.5s linear infinite;    
        }           
}
@media (max-width:425px){
    .hovring ul p{
        top: 0;
        left: 0;
        position: relative;
        width: 200px;
        margin-top: 5px;
        transition: 0.6s;
        display: none; 
        font-family: 'Caveat', cursive;
        font-size: 10px;
        margin-left: 10px;
        background-color:rgba(0, 0, 0, 0.13);
        border-radius: 20px;
        box-shadow: -10px 10px 90px black;
    }
    ul h2{
        font-family: 'Creepster', cursive;
        font-size: 12px;
        padding-bottom: 5px;
        width: 250px;
        left: 0;
    }
    ul{
        text-align: left;
        margin-top: 30px;
    }
    .hovring ul li:hover img{
        display: none;
        transition: 0.6s;
    }
    .hovring ul li:hover p{
        transition: 0.6s;
        display: block;
    }
    .container .title{
        font-size: 20px;
    }
}