<section class="hero is-primary">
    <div class="hero-body">
        <div class="MainName">
            <h1>
                <a href="#">WallPapers</a>
            </h1>
        </div>
        <div class="wallpapers-container">
            <div class="wallpaper">
                <img class="w1" src="../../assets/img/wallpapers/wall1.jpg">
            </div>
            <div class="wallpaper">
                <img class="w2" src="../../assets/img/wallpapers/wall2.jpg">
            </div>
            <div class="wallpaper">
                <img  class="w3"  src="../../assets/img/wallpapers/wall3.jpg">
            </div>
            <div class="wallpaper">
                <img class="w5" src="../../assets/img/wallpapers/wall5.jpg">
            </div>
            <div class="wallpaper">
                <img class="w7"  src="../../assets/img/wallpapers/wall7.jpg">
            </div>
            <div class="wallpaper">
                <img class="w6"  src="../../assets/img/wallpapers/wall6.jpg">
            </div>
            <div class="wallpaper">
                <img class="w11" src="../../assets/img/wallpapers/wall11.jpg">
            </div>
            <div class="wallpaper">
                <img class="w10"  src="../../assets/img/wallpapers/wall10.jpg">
            </div>
            <div class="wallpaper">
                <img class="w9"  src="../../assets/img/wallpapers/wall9.jpg">
            </div>
            <div class="wallpaper">
                <img class="w8"  src="../../assets/img/wallpapers/wall8.jpg">
            </div>
            <div class="wallpaper">
                <img  class="w4"  src="../../assets/img/wallpapers/wall4.jpg">
            </div>
            <div class="wallpaper">
                <img class="w12" src="../../assets/img/wallpapers/wall12.jpg">
            </div>
            <div class="wallpaper">
                <img class="w13"  src="../../assets/img/wallpapers/wall13.jpg">
            </div>
            <div class="wallpaper">
                <img class="w14"  src="../../assets/img/wallpapers/wall14.jpg">
            </div>
            <div class="wallpaper">
                <img class="w15" src="../../assets/img/wallpapers/wall15.jpg">
            </div>
            <div class="wallpaper">
                <img class="w16"  src="../../assets/img/wallpapers/wall16.jpg">
            </div>
            <div class="wallpaper">
                <img class="w17"  src="../../assets/img/wallpapers/wall17.jpg">
            </div>
            <div class="wallpaper">
                <img class="w18"  src="../../assets/img/wallpapers/wall18.jpg">
            </div>
            <div class="wallpaper">
                <img class="w19"  src="../../assets/img/wallpapers/wall19.jpg">
            </div>
            <div class="wallpaper">
                <img class="w27"  src="../../assets/img/wallpapers/wall27.jpg">
            </div>
            <div class="wallpaper">
                <img class="w21" src="../../assets/img/wallpapers/wall21.jpg">
            </div>
            <div class="wallpaper">
                <img class="w22" src="../../assets/img/wallpapers/wall22.jpg">
            </div>
            <div class="wallpaper">
                <img class="w25" src="../../assets/img/wallpapers/wall25.jpg">
            </div>
            <div class="wallpaper">
                <img class="w24"  src="../../assets/img/wallpapers/wall24.jpg">
            </div>
            <div class="wallpaper">
                <img class="w32" src="../../assets/img/wallpapers/wall32.jpg">
            </div>
            <div class="wallpaper">
                <img class="w26"  src="../../assets/img/wallpapers/wall26.jpg">
            </div>
            <div class="wallpaper">
                <img class="w20"  src="../../assets/img/wallpapers/wall20.jpg">
            </div>
            <div class="wallpaper">
                <img class="w28"  src="../../assets/img/wallpapers/wall28.jpg">
            </div>
            <div class="wallpaper">
                <img class="w29"  src="../../assets/img/wallpapers/wall29.jpg">
            </div>
            <div class="wallpaper">
                <img class="w30"  src="../../assets/img/wallpapers/wall30.jpg">
            </div>
            <div class="wallpaper">
                <img class="w31" src="../../assets/img/wallpapers/wall31.jpg">
            </div>
            <div class="wallpaper">
                <img class="w23"  src="../../assets/img/wallpapers/wall23.jpg">
            </div>
            <div class="wallpaper">
                <img class="w33"  src="../../assets/img/wallpapers/wall33.jpg">
            </div>
            <div class="wallpaper">
                <img class="w34"  src="../../assets/img/wallpapers/wall34.jpg">
            </div>
            <div class="wallpaper">
                <img class="w37"  src="../../assets/img/wallpapers/wall37.jpg">
            </div>
            <div class="wallpaper">
                <img class="w36"  src="../../assets/img/wallpapers/wall36.jpg">
            </div>
            <div class="wallpaper">
                <img class="w35" src="../../assets/img/wallpapers/wall35.jpg">
            </div>
            <div class="wallpaper">
                <img class="w38"  src="../../assets/img/wallpapers/wall38.jpg">
            </div>
            <div class="wallpaper">
                <img class="w46"  src="../../assets/img/wallpapers/wall46.jpg">
            </div>
            <div class="wallpaper">
                <img class="w40"  src="../../assets/img/wallpapers/wall40.jpg">
            </div>
            <div class="wallpaper">
                <img class="w41" src="../../assets/img/wallpapers/wall41.jpg">
            </div>
            <div class="wallpaper">
                <img class="w42" src="../../assets/img/wallpapers/wall42.jpg">
            </div>
            <div class="wallpaper">
                <img class="w43"  src="../../assets/img/wallpapers/wall43.jpg">
            </div>
            <div class="wallpaper">
                <img class="w44"  src="../../assets/img/wallpapers/wall44.jpg">
            </div>
            <div class="wallpaper">
                <img class="w45" src="../../assets/img/wallpapers/wall45.jpg">
            </div>
            <div class="wallpaper">
                <img class="w50"  src="../../assets/img/wallpapers/wall50.jpg">                
            </div>
            <div class="wallpaper">
                <img class="w39"  src="../../assets/img/wallpapers/wall39.jpg">
            </div>
            <div class="wallpaper">
                <img class="w48"  src="../../assets/img/wallpapers/wall48.jpg">
            </div>
            <div class="wallpaper">
                <img class="w49"  src="../../assets/img/wallpapers/wall49.jpg">                
            </div>
            <div class="wallpaper">
                <img class="w47"  src="../../assets/img/wallpapers/wall47.jpg">                
            </div>
            <div class="wallpaper">
                <img class="w51"  src="../../assets/img/wallpapers/wall51.jpg">                
            </div> <div class="wallpaper">
                <img class="w52"  src="../../assets/img/wallpapers/wall52.jpg">                
            </div>
        </div>
        <div class="but">
            <button>
                <a href="https://www.peakpx.com/en/search?q=batman&page=2" target="_blank">More</a>
            </button>
        </div>
    </div>
</section>

