.hero{
    background-image: url("../../assets/img/HomePic.png");
    background-size: cover;
    background-position: center center;
    height: 700px;
}
body{
    margin: 0;
    padding: 0;
    background-size: cover;
}
.rain{
    top: 0;
    z-index: 1;
    height: 700px;
    background-image: url(../../assets/img/rain.png);
    animation: rain 0.3s linear infinite;
}
@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 20% 100%;
    }
}
.rain::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/lightining.png);
    top: 0px;
    transform: rotate(180deg);
    animation: lightining 4s linear infinite;
    opacity: 1;
}
@keyframes lightining{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
.Text{
    position: absolute;
    z-index: 1;
}
.Rain{
    position: relative;
    z-index: 2;
}
.Text h1{
    position: relative;
    color:white;
    font-size: 90px;
    font-family: 'Skranji', cursive;
    margin-top: 160px;
    margin-left: 150px;
    font-weight: 900;
}
.Text h1 .Sp{
    color: #a81029;
}
.Text p{
    top: 0;
    position: absolute;
    width: 600px;
    text-align: center;
    font-size: 25px;
    font-family: 'Black Ops One', cursive;
    margin-left: 116px;
    margin-top: 260px;
}
.Text p .Sp {
    color: #a81029;
}
@media (max-width:450px){
    .Text h1{
        font-size: 40px;
        margin-left: 26px;
    }
    .Text p{
        font-size: 15px;
        width: 250px;
        margin-left: 20px;
        margin-top: 200px;
    }
    .hero{
        background-image: url(../../assets/img/HomePicRepo.jpg);
    }
}
@media (max-width:690px){
    .Text h1{
        font-size: 60px;
        margin-left:80px;
        margin-top: 250px;
    }
    .Text p{
        font-size: 20px;
        width: 390px;
        margin-left: 65px;
        margin-top: 320px;
    }
}
@media (max-width:375px){
    .Text h1{
        font-size: 30px;
        margin-left:40px;
        margin-top: 160px;
    }
    .Text p{
        font-size: 10px;
        width: 190px;
        margin-left: 34px;
        margin-top: 200px;
    }
}
@media (max-width:425px){
    .Text h1{
        font-size: 31px;
        margin-left:40px;
        margin-top: 160px;
    }
    .Text p{
        font-size: 12px;
        width: 190px;
        margin-left: 34px;
        margin-top: 200px;
    }
}