<section class="hero is-primary">
    <div class="Text">
        <h1><span class="Sp" >I</span> am <span class="Sp" >Ba</span>tman</h1>
        <p><span class="Sp">T</span>he <span class="Sp" >C</span>orrupt <span class="Sp">W</span>ho <span class="Sp">D</span>estroy 
            <span class="Sp">T</span>his <span class="Sp">W</span>orld <span class="Sp">A</span>re <span class="Sp" >killed.</span></p>
    </div>
    <div class="Rain">
        <div class="rain"></div>
        <div class="lightining"></div>
    </div>
    </section>
